<!-- BEGIN FOOTER -->
<footer class="footer">
    <div class="wrapper">
        <div class="footer_cols">
            <div class="footer_cols_item footer_cols_item-1">
                <div class="footer_title">About</div>
                <div class="footer_txt">We  have much planned for the future, working with great clients and continued software development. If you'd like to join our team, then we'd also love to hear from you.</div>
            </div>
            <div class="footer_cols_item footer_cols_item-2">
                <div class="footer_title">Categories</div>
                <ul class="footer_list">
                    <li><a href="{% url 'blog' category='Home' %}">Home</a></li>
                    <li><a href="{% url 'blog' category='Kitchen' %}">Kitchen</a></li>
                    <li><a href="{% url 'blog' category='Garden' %}">Garden</a></li>
                    <li><a href="{% url 'blog' category='Cars' %}">Cars</a></li>
                    <li><a href="{% url 'blog' category='Travel' %}">Travel</a></li>
                    <li><a href="{% url 'blog' category='Pets' %}">Pets</a></li>
                    <li><a href="{% url 'blog' category='Office' %}">Office</a></li>
                    <li><a href="{% url 'blog' category='Electronics' %}">Electronics</a></li>
                    <li><a href="{% url 'blog' category='Hobby' %}">Hobby</a></li>
                    <li><a href="{% url 'blog' category='Baby' %}">Baby</a></li>
                    <li><a href="{% url 'blog' category='Holiday' %}">Holiday</a></li>
                    <li><a href="{% url 'blog' category='Software' %}">Software</a></li>
                    <li><a href="{% url 'blog' category='Health' %}">Health</a></li>
                    <li><a href="{% url 'blog' category='Appliences' %}">Appliences</a></li>
                    <li><a href="{% url 'blog' category='Money' %}">Money</a></li>
                </ul>
            </div>
            <div class="footer_cols_item footer_cols_item-3">
                <div class="footer_title">Follow us</div>
                <div class="soc">
                    <div class="soc_item">
                        <a href="#" target="_blank">
                            <span class="soc_item_icon"><span class="icon-fb"></span></span>
                            <span class="soc_item_txt">2,1 k+</span>
                        </a>
                    </div>
                    <div class="soc_item">
                        <a href="#" target="_blank">
                            <span class="soc_item_icon"><span class="icon-tw"></span></span>
                            <span class="soc_item_txt">3,6 k+</span>
                        </a>
                    </div>
                    <div class="soc_item">
                        <a href="#" target="_blank">
                            <span class="soc_item_icon"><span class="icon-youtube"></span></span>
                            <span class="soc_item_txt">2,8 k+</span>
                        </a>
                    </div>
                    <div class="soc_item">
                        <a href="#" target="_blank">
                            <span class="soc_item_icon"><span class="icon-instagram"></span></span>
                            <span class="soc_item_txt">6,3 k+</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bot">
            <div class="footer_copy">© Zohaib 2023. All rights reserved</div>
            <div class="footer_links">
                <a href="#">Privacy Policy</a> <span class="dash"></span> <a href="#">Terms & Conditions</a>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER EOF   -->